@{
    ViewBag.Title = "Ticket";
}

<h2>Create Ticket</h2>

<form method="post">
<div>
    UserId:
    <input type="text" name="userId" />
</div>
<div>
    QueueId:    
    <input type="text" name="queueId" />
</div>
<div>
    <button type="submit">Create</button>
</div>
</form>